// Color Palette
$pri-color: red;
$sec-color: white;
$ter-color: black;
$quat-color: darkred;

body {
    background: $sec-color;
    margin-top: 1em;
}

// Header Styling
main {
    padding: 0 1.5em;
}


// Video Player Styling

video{
    display: block;
    max-width: 100%;
    width: 100%;
}

//Links Styling


