$pri-color: #df2006;
$sec-color: #fff;
$ter-color: #000001;
$quat-color: #d7d7d7;

body {
    background-color: $sec-color;
    margin-top: 1em;
}

// Header Styling

header {
    margin: auto;
}

// Main Styling
main {
    padding: 0 1.5em;
}

// Video Player Styling

video{
    display: block;
    max-width: 100%;
    width: 100%;
}

// Button Styling
aside {
    li {
        background: $pri-color;
        width: 100%;
        margin-top: 1em;
        a {
            line-height: 3em;
        }
    }
       
        li:nth-child(1){
            background-color: $sec-color;
        }

}
