// Typography
// Google  Fonts
@import url('https://fonts.googleapis.com/css?family=Cinzel|Cormorant+Garamond')
    
// Font Variables
$cormorantgaramond: 'Cormorant Garamond', serif;
$cinzel: 'Cinzel', serif;

// Styles

h1 {
    color: $pri-color;
    font-size: 40pt;
    text-shadow: 2px 2px 2px $ter-color;
    font-family: $cinzel;
    text-align: center;
}

h2 {
    color: $pri-color;
    font-size: 16pt;
    text-align:left;
    font-family: $cinzel;
}

li,
p {
    color: $sec-color;
    text-align:left;
    list-style: none;
    font-family: $cormorantgaramond;
}

li a {
    font-size: 14pt;
    text-decoration: none;
    color: $pri-color;
    font-family: $cinzel;
}

footer p {
    text-align: center;
    color: $sec-color;
}